// BASIC STYLING
.wrapper {
	padding:1.5% 3% 9% 3%;
}

/* HEADER */
.header__inner a {
	height: 85%;
	margin: 0;
}

/* BLOGPOST */
.blogpost {
	small {
		margin:3em auto 2.2em;
	}
}
.blogpost__text {
	margin-top: 1.5em;
}

.latestInfo{
    flex-direction: row;
	div {
		padding:2.5em 3em 3em;
	}
}

/*CREATE NEW POST*/
.newpost_headline {
	margin-top: 40px;
}

.form_newpost {
	margin-top:35px;
	h4 {
		margin-top: 1rem;
	}
}


/* ABOUT */ 
.about__bodytext {
	p {
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
}