/* HEADER */

div.header__usernav {
	display: block;
}

div.mobile_post_button p.nav-item.new__post{
	display: none;
}

.navbar-nav {
	width: 40%;
	margin: 0 auto;
	@extend .flex;
	@extend .content_between;
}

.header__inner {
	@extend .content_center;
	height: 25vh;
	a {
		margin: 10px auto;
		height: 75%;
		img.logo {
			display: block;
			height: 100%;

		}
		.icon {
			display: none;
		}
	}
}

p.header__usernav--loggedin {
	display: inline-block;
}

p.header__usernav--loggedin, p.header__usernav--loggedout {
	padding: 30px 20px 0 0;
	text-align: right;
	a:nth-child(1) {
		font-weight: 700;
	}

	.button {
		margin-left: .7em;
	}
}



div.header__usernav--loggedin {
	@extend .flex;
	@extend .content_between;
	a:nth-child(1) {
		font-weight: 700;
		margin-right: 14px;
	}
	a:nth-child(2) {
		font-weight: 400;
	}
}

div.header__usernav--loggedout {
	@extend .flex;
	@extend .content_end
}

.header__usernav--loggedin a,
.header__usernav--loggedout a {
	font-size: 1.2em;
}

.login_signup {
	display: none;
}

p.new__post {
	display: inline-block;
	padding: 30px 0 0 20px;
}


li.nav-item.dropdown {
	display: none;
}

/*CATEGORIES*/

.categorymenu {
	@extend .flex;
	@extend .content_center;
	margin: 10px;
	li {
		list-style-type: none;
		display: inline-block;
		padding: 0 20px;
		margin: 5px;
	}
	a {
		font-family: $bodyFont;
		font-size: 1.2em;
		font-family: $categoryFont, sans-serif;
		border: none;
		color: $categoryFontColor;
	}
}

li.active a {
	//text-decoration: underline;
	font-size: 1.3em;
}