//BASIC STYLING
html { 
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
}

.wrapper {
	max-width: $contentWidth;
	margin: 0 auto;
	padding:5%;
	padding-bottom: 10%;
}

img {
	width: 100%;
    
}

/* TYPOGRAPHY */
body {
	font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headerFont;
	color: $brandColor1;
}

h3 {
	font-size:2rem; //30px
	margin-bottom: 2rem; //40px
}

p {
	font-family: $bodyFont;
	color: $bodyFontColor;
	margin-top: 1em;
	margin-bottom: 0em;
	//margin-bottom:.8em!important;
}

/* HEADER */

.header__usernav {
	padding:1.5rem 1.5rem 0;
	display:flex;
	justify-content: space-between;
	.header__usernav--loggedin, .header__usernav--loggedout {
		text-align: right;
	}
}

.header__inner {
	display: flex;
	height: 33vh;
}

.logo {
	margin: 20px auto;
}

.navbar-brand.mobile {
	display: none;
}

/* LOGIN/REGISTER */
.background__wrapper--login {
	background-image: url("../img/glasses1.jpeg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 90vh;
	text-align: center;
}

.login h3,
.register h3 {
	color: white;
}

.sign__up--paragraph p {
	color: white;
	font-size: 1rem;
}

.login,
.register {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	width: 100%;
}

.login form,
.register form {
	width: 100%;
}

.button_login,
.button_signup,
.input_login,
.input_register {
	background-color: rgba(255, 255, 255, 0.1);
	height: 40px;
	width: 90%;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 25px;
	border: solid 2px rgba(255, 255, 255, 0.5);
	font-size: 1.1rem;
	padding:3%;
}

.button_login,
.button_signup {
	width: 50%;
}

/*CATEGORIES*/

.categorymenu{
margin-top:20px;
display: flex;
justify-content: space-around;
  
}
.input_category{
font-family: $bodyFont;
font-size:1em;
font-family: 'Fjalla One', sans-serif;
border:none;
color: $categoryFontColor;
background-color:transparent;
width:70px;
border-radius:0px;
text-decoration: underline;
}


/*BLOG POST*/

.blogpost {
	margin:0 auto 10%;
	
	h2 {
		margin:1rem auto;
	}
	
	.left {
		text-align:left;
	}
	
	.center {
		text-align: center;
	}
	
	.index_image {
		margin-top: 3.5rem;
		margin-bottom: 1rem;
	}
	
	small {
		display: block;
		margin:0 auto 2rem;
		margin-bottom: 1rem;
		text-transform: uppercase;
		letter-spacing: .5px;
	}
	
	.blogpost__image {
		//set dimensions of crop box
		height:0;
		padding-top: $responsiveHeight;
		overflow:hidden;
		position:relative;
		margin-bottom:1.5%;
		img {
			//place image in crop box
			width:100%;
			position:relative;
			margin-top:-$responsiveHeight;
		}
	}
	.blogpost__text {
		display: flex;
		flex-direction: column;
		margin-top: 0.5rem;
		justify-content: space-between;

		.blogpot__text--meta {
			flex-basis:25%;
			flex-grow: 1;
		}

		.blogpost__text--bodytext {
			flex-basis:75%;
			flex-grow: 2;
		}
	}
	
	.comment_link {
		text-align: right;
	}
}

/*SINGLE POST*/

.comments_header {
	text-align: center;
}

.comments_wrapper {
	padding: 0;
}

textarea, input {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
	border: solid 2px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	transition: all 250ms ease;
	padding:3%;	
}

.comment_submit {
	width: 65%;
}


/*ABOUT*/

.about_image_wrapper{
	margin: 1rem 0;
	margin-bottom: 2rem;
}
.about_image {
	width: 100%;
}

.about_text_wrapper {
	width: 80%;
	margin: 0px auto;
}


/*PROFILE */

.profileWrapper {
		width: 70%;
		min-height: 1200px;
		margin: 0 auto;
		//padding-left: 50px;
		padding-top: 100px; 
   
	}

.profileHeader {
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
text-align: left;
padding-top:20px;
//margin-bottom:50px;
//padding:30px;



	}


	.profileImage img {
        width: 100%;
		overflow: hidden;
		//height: 300px;

	}


	.profileInfo {
		display:flex;
		flex-direction: column;
	}

.numberInfo{
display:flex;
flex-direction: row;

}

.numberOfposts{
padding-right:90px;
margin-top: -30px;
    
}
.numberOfcomments{
margin-top: -30px;
}

.numberOfposts h2,.numberOfcomments h2{
  font-size:1.5em;
 
    
}

.numberOfposts p, .numberOfcomments p{
font-size:3em;

}
.latestInfo{
    display:flex;
    width: 100%;
    padding-top:50px;
    flex-direction: column;


}

.latestComments{
    padding-top:50px;
}

.latestComments h3, .latestPosts h3{
    font-size: 1.8em;
}
.latestComments a, .lastestPosts a{
color: $categoryFontColor;
}


/* FOOTER */
footer {
	background-color: $brandColor1;
	display:flex;
	
	.footer-inner {
		max-width: $contentWidth;
	}
	
	p, h4, a, a .fa {
		color: $footerFontColor;
	}
	
	ul {
	padding: 20px 15px;
	display: flex;
	display:flex;
	flex-flow: column wrap;
	list-style: none;
	justify-content: space-around;
	font-size: .9em;
		
		li {
			padding: 30px;
			text-align: left;
		}
	}
	
	.fa {
		font-size: 2em;
		color: inherit;
		padding: 1em 1em 0 0;
	}
	
	.footer-inner__info {
		flex-basis: 100%;
	}
}
