// BASIC STYLING
.wrapper {
	padding:3%;
	padding-bottom: 9%;
}

/* HEADER */
.header__inner a {
	height: 80%;
	margin: 0 auto;
}

/* BLOG POST*/
.blogpost {
	margin-top:2em;
	
    .blogpost__bodytext {
    margin: 0 auto;
    width:80%;
    }
	.blogpost__text {
	@include direction_row();
		.blogpost__text--bodytext {
			padding: 0 0 0 2rem;
			p {
				width:100%;
			}
		}
		.blogpost__text--meta {
			width: 50%;
			text-align:left;
		}
	}
}


/*SINGLE POST*/
.single_post_image {
	margin-bottom: 1rem;
}

/* COMMENTS */
.comments_wrapper_container {
	width:80%;
	max-width:980px;
}


/*CREATE NEW POST*/

.newpost_headline {
	margin-top: 25px;
}

.form_newpost {
	margin-top:30px;
	h4 {
		margin-top: .5rem;
	}
}

.ck-editor__editable_inline{
	height:300px;
}

.select {
    width: 90%;
}

input {
	margin:15px 0;
}

.input_title {
    height: 40px;
}

.image_upload {
	display: flex;
	input {
		flex:1;
		@include content_between();
	}
	.image_upload__inner {
		margin-right:10px;
	}
}

.buttons {
	@include direction_row();
	margin-top: 20px;
	@include content_between();
	
	.select_button {
		width:44%;
	}
	.publish_button {
		width:55%;
		input {
			margin-top:0;
			width:100%;
		}
	}
}
.publish_button,
.input_newpost,
.image_text {
	margin:0;
}

/*CATEGORIES*/

.categorywrapper{
    max-width:$contentWidth;
    @include flex();
    @include wrap();
}

.categoryblogpost{
    width:50%;
    box-sizing: border-box;
	padding-bottom: 10%;
}

.categoryblogpost__text{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding:  0 0 2rem;
}

.categoryblogpost__image {
	margin-bottom:5%;
}

.categoryblogpost__image img {
    width:80%;
}

.left {
	text-align:left;
}

 /*PROFILE*/

.profileheader {
    @include flex();
    width: 100%;
    padding-top: 0px;
    @include direction_row();
    //@include wrap();
}

.profileheader__image {
	flex:1;
	justify-content: flex-start;
	margin-right:2em;
}

.profileheader__info {
    @include flex();
	flex:1;
    width: 50%;
    @include direction_column()
}

.profileheader__info--name h1{
	margin-top:15%;
	text-align:left;
}

.profileName {
	margin-top:2%;
}

.numberInfo{
	justify-content: flex-start;
}

.numberOfposts{
	margin-left:-5px;
}

.latestInfo{
    @include flex();
    width: 100%;
    margin-top:4em;
    @include direction_row();
	div {
		padding:2em 2.5em;
	}
	.latestPosts{
		margin-bottom:0;
		margin-right:2em;
	}
}

/* LOGIN/REGISTER */
.login,
.register {
	width:60vw;
	max-width:400px;
}

/*ABOUT*/

.about_image_wrapper{
	margin-bottom: 2.5rem;
}

/*FOOTER*/
.footer-inner {
	max-width: $contentWidth;
	margin:0 auto;
	padding-bottom:12em;
	ul {
		@include direction_row();
	}
	.footer-inner__info {
		flex-basis: 33%;
		@include content_between();
	}
}
