// BASIC STYLING
.wrapper {
	padding:3%;
	padding-bottom: 9%;
}

/* HEADER */
.navbar-nav {
	width: 40%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* BLOG POST*/
.blogpost {
	.blogpost__text {
	flex-direction: row;
		.blogpost__text--bodytext {
			padding-top: 1.1rem;
		}
		.blogpost__text--meta {
			width: 50%;
			text-align:left;
		}
}
	p {
		width:80%;
		margin:auto;
	}
}

/*SINGLE POST*/
.single_post_image {
	margin-bottom: 1rem;
}

/*CATEGORY POST*/
.categorymenu{
display: flex;

}

.input_category{
font-family: $bodyFont;
font-size:1.2em;
font-family: 'Fjalla One', sans-serif;
border:none;
color: #5d7e93;
background-color:transparent;
width:120px;
border-radius:0px;


}
.categorywrapper{
    width:$contentWidth;
    margin: 10% auto;
	padding-bottom:10%;
    display:flex;
    flex-wrap:wrap;

}

.categoryblogpost{
 width:$categoryContentWidth;     
padding-bottom: 10%;
 
       } 

    .categoryblogpost__image
		img {
			width:80%;
}

/* LOGIN/REGISTER */
.login,
.register {
	width:60vw;
	max-width:400px;
}

/*ABOUT*/

.about_image_wrapper{
	margin-bottom: 2.5rem;
}

/*FOOTER*/
.footer-inner {
	max-width: $contentWidth;
	margin:0 auto;
	ul {
		flex-direction:row;
	}
	.footer-inner__info {
		flex-basis: 33%;
		justify-content: space-between;
	}
}


