//TYPOGRAPHY
$headerFont: 'Montserrat',
'Helvetica Neue',
'Helvetica',
sans-serif;
$bodyFont: 'Montserrat', 
'Helvetica Neue',
'Helvetica',
sans-serif;
$categoryFont: 'Montserrat', sans-serif;

//COLORS
$brandColor1: #1c3045; //dark blue
$brandColor2: #6e6e6e; //dark grey
$brandColor3: #a9a9a9; //medium grey
$bodyFontColor: #212121; //darker grey
$footerFontColor: #d3d0d1; //light gray
$categoryFontColor: #577487; // medium blue
$postRelatedColor: #c1b3ad; //warm gray
$linksFontColor: #4e7176; // dark turqoise
$bgAccentColor: #d3d0d1; //light light grey

//LAYOUT
$contentWidth: 980px;

//RESPONSIVE IMAGE HEIGHT
$responsiveHeight: 56.25%; //6:9 aspect ratio

//BORDER RADIUSES
$borderRadiusSmall: 5px;
$borderRadiusLarge:15px;


//FLEX
.flex {
	display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
<<<<<<< HEAD
    display: flex;
}

=======
	display: -webkit-flex;
}
>>>>>>> a62d4654af79ce8a67e71b9aea00a852ee0888c2
