//TYPOGRAPHY
$headerFont: 'Helvetica Neue',
'Helvetica',
sans-serif;
$bodyFont: 'Helvetica Neue',
'Helvetica',
sans-serif;

//COLORS
$brandColor1: #1c3045; //dark blue
$bodyFontColor: #212121; //dark grey
$footerFontColor: #d3d0d1; //light gray

//LAYOUT
$contentWidth: 980px;
$categoryContentWidth:485px;