//TYPOGRAPHY
$headerFont: 'Helvetica Neue',
'Helvetica',
sans-serif;
$bodyFont: 'Helvetica Neue',
'Helvetica',
sans-serif;
$categoryFont: 'Fjalla One', sans-serif;

//COLORS
$brandColor1: #1c3045; //dark blue
$bodyFontColor: #212121; //dark grey
$footerFontColor: #d3d0d1; //light gray
$categoryFontColor: #5d7e93; // medium blue
$postRelatedColor: #c1b3ad; //warm gray
$linksFontColor: #a6c9c6; //turqoise

//LAYOUT
$contentWidth: 980px;

//RESPONSIVE IMAGE HEIGHT
$responsiveHeight: 56.25%; //6:9 aspect ratio