body{
            text-align: right;
            font-family: monospace;
            font-size:1.5em;
            background-color: #D4EA17;
            color:deeppink;
        }

.posts{
 
    text-align: center;
}

.each{
       margin-top:30px;
}