//TYPOGRAPHY
$headerFont: 'Helvetica Neue', 'Helvetica', sans-serif;
$bodyFont: 'Helvetica Neue', 'Helvetica', sans-serif;

//COLORS
$brandColor1: #1c3045; //dark blue
$bodyFontColor: #212121; //dark grey

body {
	padding: 20px;
	font-family:$bodyFont;
}

.posts {
    text-align: center;
}

.each {
	margin-top:30px;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
	font-family: $headerFont;
	color: $brandColor1;
}

p {
	font-family: $bodyFont;
	color: $bodyFontColor;
}

/* HEADER */
.header__user--loggedin {
	text-align:right;
}

.header, .header__inner {
	display:flex;
}

.header {
	border-bottom: 1px solid black;
}

.logo {
	margin:auto;
}