body{
            text-align: right;
            font-family: monospace;
            font-size:1.5em;
            background-color: #E6E7E8;
            color:deeppink;
        }

.posts{
 
    text-align: center;
}

.each{
       margin-top:30px;
}
footer{
    background-color: #032838;
    height:400px;
    margin-top:50px;
}